﻿
@{
    ViewBag.Title = "Index";
}


@using (Html.BeginForm("ConnectToDatabases", "Home"))
{
<fieldset>
    <legend>Zadatak2</legend>
    <h2>Baze podataka:</h2>
    <div>


        <div style="display:inline-block;width:25%">
            @foreach (var item in ViewBag.databases)
            {
                <div style="display:block">
                    <input type="checkbox" name=@item value=@item /><label for=@item>@item</label>
                </div>
            }
        </div>
        <div style="display:inline-block;max-height:40vh;width:74%;vertical-align:top;overflow-wrap:break-word;overflow-y:scroll">
            @if(Session["log"] != null)
            {
                foreach (var item in Session["log"] as IList<String>)
                {
                    <p>@item</p>
                }
            }
        </div>
    </div>
    <input type="submit" />
</fieldset>
}
